# Importing necessary librarires

In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = 'ticks', color_codes = True)
import warnings
warnings.filterwarnings('ignore')

# Importing the data set

In [136]:
df = pd.read_csv(r'C:\Users\lenovo\Desktop\Kaggle Data science\heart-attack-prediction\data.csv')

# Exploratory data analysis

In [137]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [138]:
df.describe(include='all')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,294,294,294,294,294,294,294.000000,294,294,294,294.000000
unique,NaN,NaN,NaN,32,154,3,4,72,3,NaN,4,2,4,NaN
top,NaN,NaN,NaN,120,?,0,0,150,0,NaN,?,?,?,NaN
freq,NaN,NaN,NaN,65,23,266,235,29,204,NaN,190,291,266,NaN
mean,47.826531,0.724490,2.982993,NaN,NaN,NaN,NaN,NaN,NaN,0.586054,NaN,NaN,NaN,0.360544
std,7.811812,0.447533,0.965117,NaN,NaN,NaN,NaN,NaN,NaN,0.908648,NaN,NaN,NaN,0.480977
min,28.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
25%,42.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
50%,49.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000
75%,54.000000,1.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000
max,66.000000,1.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,1.000000

In [139]:
columns = df.columns

In [140]:
for feature in columns:
    df[feature] = df[feature].replace('?',np.NaN)

In [141]:
print(df.isnull().sum())
print(df.shape)

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64
(294, 14)

In [142]:
df = df.drop(['slope','ca','thal'],axis = 1)

In [143]:
df.columns = ['Age', 'Sex', 'Chest-pain', 'Restbps', 'Cholestrol', 'Fbs', 'ECG', 'MaxHR',
       'Ex-ang', 'Oldpeak', 'Heart disease']

In [145]:
columns = df.columns

In [146]:
for feature in columns:
    df[feature] = df[feature].replace(np.NaN, df[feature].mode()[0])

In [148]:
df.isnull().sum()

Age              0
Sex              0
Chest-pain       0
Restbps          0
Cholestrol       0
Fbs              0
ECG              0
MaxHR            0
Ex-ang           0
Oldpeak          0
Heart disease    0
dtype: int64

In [153]:
df.to_csv(r'C:\Users\lenovo\Desktop\Kaggle Data science\heart-attack-prediction\data_preprocessed.csv', index = False)

In [154]:
features = df.drop(['Heart disease'], axis = 1)
outcomes = df['Heart disease']

# Train and Test data split

In [120]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_outcomes, test_outcomes = train_test_split(features, outcomes, test_size = 0.2, \
                                                                        shuffle = True, random_state = 42)

# RandomForest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(criterion = 'entropy', random_state = 42)
rf.fit(train_features, train_outcomes)

In [133]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_true = train_outcomes, y_pred = rf.predict(train_features).round()))
print(accuracy_score(y_true = test_outcomes, y_pred = rf.predict(test_features).round()))

0.9914893617021276
0.8135593220338984

# Hyperparameter Tuning

In [155]:
from pprint import pprint
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'entropy',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [161]:
n_estimators = [i for i in range(100,2001,100)]
max_features = ['auto','sqrt','log2']
max_depth = [i for i in range(100,501,50)]
warm_start = [True, False]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'warm_start': warm_start,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [100, 150, 200, 250, 300, 350, 400, 450, 500],
 'max_features': ['auto', 'sqrt', 'log2'],
 'n_estimators': [100,
                  200,
                  300,
                  400,
                  500,
                  600,
                  700,
                  800,
                  900,
                  1000,
                  1100,
                  1200,
                  1300,
                  1400,
                  1500,
                  1600,
                  1700,
                  1800,
                  1900,
                  2000],
 'warm_start': [True, False]}

In [164]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, \
                               n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(train_features, train_outcomes)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 12.7min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='entropy',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=10,
                                                    n_jobs=None,
                                                    oob_sco...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [100, 150, 200, 250, 300,
                                                      350, 400, 450, 500],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100, 1200,
                                                         1300, 1400, 1500, 1600,
                                                         1700, 1800, 1900,
                                                         2000],
                                        'warm_start': [True, False]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [165]:
rf_random.best_params_

{'warm_start': True,
 'n_estimators': 900,
 'max_features': 'log2',
 'max_depth': 100,
 'bootstrap': True}

In [166]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_true = train_outcomes, y_pred = rf_random.predict(train_features).round()))
print(accuracy_score(y_true = test_outcomes, y_pred = rf_random.predict(test_features).round()))

1.0
0.8305084745762712